{% extends 'base.html.twig' %}

{% block title %}Information de {{ product.name }}{% endblock %}

{% block body %}
    <h1>Information du produit : </h1>

    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>

    <hr>

    <h3>Fournisseurs et prix : </h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Fournisseur</th>
            <th scope="col">Prix public</th>
            <th scope="col">Prix net</th>
            <th scope="col">Prix de revente</th>
        </tr>
        </thead>
        <tbody>
        {% for price in product.prices %}
        <tr>
            <th scope="row">{{ price.fournisseur }}</th>
            <td>{{ price.publicPrice }} €</td>
            <td>{{ price.netPrice }} €</td>
            <td>{{ price.reventePrice }} €</td>
        </tr>
        {% endfor  %}
        </tbody>
    </table>

    <hr>

    <div class="d-flex justify-content-between mb-3">
        <h3>Fiches techniques : </h3>

        <div>
            {{ form_start(formAddDocumentation) }}
            <div class="d-flex">
                <div class="mr-2">
                    {{ form_widget(formAddDocumentation.documentation) }}
                </div>

                <div>
                    {{ form_widget(formAddDocumentation.valider) }}
                </div>
            </div>

            {{ form_end(formAddDocumentation) }}
        </div>
{#        <a href="{{ url('productAddDocumentation', {id: product.id}) }}" class="btn btn-primary">Ajouter une fiche technique</a>#}
    </div>

    {% if product.documentations is not empty %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom de la fiche</th>
        </tr>
        </thead>
        <tbody>
            {% for documentation in product.documentations %}
            <tr>
                <td scope="row">
                    <div class="d-flex justify-content-between">
                        <a href="{{ asset('assets/documentations/') }}{{ documentation.name }}" target="_blank">{{ documentation.name }}</a>
                        <a href="{{ url('productRemoveDocumentation', {id: product.id, doc: documentation.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>Ce produit n'a pas de documentation</p>
    {% endif %}

    <hr>

    <a href="{{ url('productChange', {'id': product.id}) }}" class="btn btn-info">Modifier le produit</a>
    <a href="{{ url('productDelete', {'id': product.id}) }}" class="btn btn-danger">Supprimer le produit</a>
{% endblock %}
