{% extends 'base.html.twig' %}

{% block title %}Informations de {{ Client.name }}{% endblock %}

{% block body %}

    <h1>Information du client : </h1>

    {{ form_start(form) }}

    {{ form_end(form) }}

    <hr>

    <h3>Produits :</h3>


    {% if Client.products is not empty %}
    <div class="row">
        {% for product in Client.products %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{{ url('productShow', {'id': product.id}) }}" class="btn btn-primary">Fiche produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="text-break">Ce client n'a aucun produit</p>
    {% endif %}

    <hr>

    <a href="{{ url('clientDelete', {'id': Client.id}) }}" class="btn btn-danger">Supprimer le client</a>

{% endblock %}
