{% extends 'base.html.twig' %}

{% block title %}Ajout d'un fournisseur | Euro CCVP Manager{% endblock %}

{% block body %}
    <h1>Informations d'un fournisseur</h1>
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {{ form_end(form) }}

    <hr>

    <h3>Produits et prix : </h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Prix public</th>
            <th scope="col">Prix net</th>
            <th scope="col">Prix de revente</th>
        </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <th scope="row"><a href="{{ url('productShow', {'id': price.product.id}) }}">{{ price.product }}</a></th>
                <td>{{ price.publicPrice }} €</td>
                <td>{{ price.netPrice }} €</td>
                <td>{{ price.reventePrice }} €</td>
            </tr>
        {% endfor  %}
        </tbody>
    </table>
{% endblock %}
